{% load static %}
{% load shop_tags %}
<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="description" content="{{desc}} {{post.meta_description}}" />
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'shop/favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'shop/favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'shop/favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'shop/favicon/site.webmanifest' %}">
  <link rel="mask-icon" href="{% static 'shop/favicon/safari-pinned-tab.svg' %}" color="#9e2d67">
  <meta name="msapplication-TileColor" content="#29147b">
  <meta name="theme-color" content="#ffffff">
  <link type="text/css" href="{% static 'shop/css/style.css' %}" rel="stylesheet" />
  <meta property="og:site_name" content="houseofwitch" />
  <meta property="og:title" content="Дом Лесной Ведьмы - магазин магической атрибутики" />
  <meta property="og:description" content="{{desc}} {{post.meta_description}}" />
  <meta property="og:image" content="{% static 'shop/img/og-title.png' %}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://houseofwitch.ru/" />
  <title>{{title}}</title>
</head>

<body>
  <div class="wrapper">
    <div class="wrapper-content">
      <header class="header">
        <div class="header__top"><a href="{% url 'home' %}" class="header__logo logo"><img
              src="{% static 'shop/img/logo.png' %}" width="127" height="124"
              alt="Логотип магазина Дом Лесной Ведьмы"></a>
          <div class="cart header__cart"><span class="cart__count-goods">{{ total_count }}</span><a
              href="{% url 'cart' %}" class="cart__link"><img src="{% static 'shop/img/cart-icon.png' %}" width="78"
                height="69" alt="корзина"></a></div>
          <nav class="user-menu user-menu--nojs user-menu--closed header__user-menu">
            <button class="user-menu__toggle" type="button" data-toggle="toggleClass"><span
                class="visually-hidden">Открыть</span>
            </button>
            <ul class="user-menu__list">
              {% if request.user.is_authenticated %}
              <li class="user-menu__item"><a class="user-menu__link" href="{% url 'account' %}">Личный кабинет</a></li>
              <li class="user-menu__item"><a class="user-menu__link" href="{% url 'account' %}">{{user.username}}
                  |</a><a class="user-menu__link" href="{% url 'logout' %}">Выйти</a></li>
              {% else %}
              <li class="user-menu__item"><a class="user-menu__link" href="{% url 'login' %}">Вход</a></li>
              <li class="user-menu__item user-menu__item--ml"><a class="user-menu__link"
                  href="{% url 'registration' %}">Регистрация</a></li>
              {% endif %}
            </ul>
          </nav>
        </div>
        <div class="header__bottom">
          <h1 class="header__title title"><span>Дом</span> лесной ведьмы</h1>
        </div>
      </header>
      <main>
        <div class="substrate">
          <div class="substrate__container">
            <div class="nav-container">
              <nav class="nav nav--closed nav--nojs">
                <button class="nav__toggle" type="button" data-toggle="toggleClass"><span
                    class="visually-hidden">Открыть меню</span></button>
                <ul class="nav__list">
                  <li class="nav__item  nav__item--active"><a href="/">Главная</a></li>

                  <li class="nav__item "><a href="/catalog/">Каталог</a></li>

                  <li class="nav__item "><a href="/about/">О нас</a></li>

                  <li class="nav__item "><a href="/article/">Статьи</a></li>
                </ul>
              </nav>

              <div class="cart cart--bottom"><span class="cart__count-goods">{{ total_count }}</span><a
                  href="{% url 'cart' %}" class="cart__link"><img src="{% static 'shop/img/cart-icon.png' %}" width="78"
                    height="69" alt="корзина"></a></div>
              <nav class="user-menu user-menu--bottom user-menu--nojs user-menu--closed">
                <button class="user-menu__toggle" type="button" data-toggle="toggleClass"><span
                    class="visually-hidden">Открыть</span>
                </button>
                <ul
                  class="user-menu__list user-menu__list--bottom {% if request.user.is_authenticated %} user-menu__list--auth {% endif %}">
                  {% if request.user.is_authenticated %}
                  <li class="user-menu__item"><a class="user-menu__link" href="{% url 'login' %}">Личный кабинет</a>
                  </li>
                  <li class="user-menu__item"><a class="user-menu__link" href="{% url 'logout' %}">{{user.username}} |
                      Выйти</a></li>
                  {% else %}
                  <li class="user-menu__item"><a class="user-menu__link" href="{% url 'login' %}">Вход</a></li>
                  <li class="user-menu__item"><a class="user-menu__link" href="{% url 'registration' %}">Регистрация</a>
                  </li>
                  {% endif %}
                </ul>
              </nav>
            </div>
            <div class="category__wrapper category__wrapper--closed js-category-wrapper no-js-wrapper">
              <ul class="category__list">
                {% if cat_selected == 0 %}
                <li class="category__item category__item--selected">Все категории</li>
                {% else %}
                <li class="category__item selected"><a class="category__link" href="{% url 'home' %}">Все категории</a>
                </li>
                {% endif %}


                <li class="category__item category__item--selected"><a class="category__link"
                    href="/category/gadalnye-karty/">Гадальные карты</a></li>

                <li class="category__item category__item--selected"><a class="category__link"
                    href="/category/duhi/">Духи</a></li>

                <li class="category__item category__item--selected"><a class="category__link"
                    href="/category/svechi/">Свечи</a></li>

                <li class="category__item category__item--selected"><a class="category__link"
                    href="/category/aromaticheskie-masla/">ароматические масла</a></li>

                <li class="category__item category__item--selected"><a class="category__link"
                    href="/category/magicheskie-obryady/">магические обряды</a></li>
              </ul>
            </div>
            <!-- Хлебные крошки -->
            <div class="search">
              <form class="search__form" action="{% url 'search_results' %}" method="get">
                <input class="search__input" name="q" type="text" placeholder="Поиск">
                <button class="search__button" type="submit" value="search">Найти</button>
              </form>
              <button class="category-menu__toggle js-category-toggle" type="button"><span
                  class="visually-hidden">Открыть</span>
              </button>
            </div>
            {% block breadcrumbs %}
            {% endblock %}

            <!-- Блок контента -->
            <div class="wrapper-text">

              {% if validlink %}

              <h1 class="section-header mb-title">Придумайте новый пароль!</h1>
              <div class="article__text pb-title">
                <form class="form" method="POST">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button class="user-menu__link login__button" type="submit" name="send"
                    value="send">Отправить</button>
                </form>
              </div>
            </div>
            {% else %}

            <div class="wrapper-text">
              <div class="article__wrapper">
                <div class="article__text pb-title">
                  <p>Ссылка для сброса пароля недействительна, возможно, потому, что она уже использовалась. Пожалуйста,
                    запросите сброс нового пароля.</p>
                </div>
              </div>
              <div class="about-pumpkin"><img src="/static/shop/img/pumpkin.png" width="278" height="380"
                  alt="Логотип магазина Дом Лесной Ведьмы"></div>
            </div>
            {% endif %}
            <button class="up_button" type="button" title="Наверх">&uarr;</button>
          </div>
      </main>
      <!-- Конец блока контента -->

      <footer class="footer">
        <div class="footer__wrapper">

          <ul class="social footer__social">
            <li class="social__item social__item--vk"><a href="#"><span class="visually-hidden">Вконтакте</span></a>
            </li>
            <li class="social__item social__item--inst"><a href="#"><span class="visually-hidden">Инстиграмм</span></a>
            </li>
          </ul>

          <div class="footer__copyright">

            <p class="">Copyrignt 2021. Все права защищены</p>
          </div>
        </div>
        <a href="{% url 'policy' %}" class="footer__policy">Политика конфиденциальности</a>
        <a href="https://www.flaticon.com/ru/free-icons/-" class="footer__policy" target="_blank"
          title=" Flaticon иконки">Некоторые иконки на сайте с Flaticon</a>
      </footer>
    </div>
  </div>
  <script src="{% static 'shop/js/main.js' %}"></script>
  {% if  request.path == '/cart/' %}
  <script src="{% static 'shop/js/cart.js' %}"></script>
  {% endif %}
  {% if '/goods/' in request.path  %}
  <script src="{% static 'shop/js/slider.js' %}"></script>
  {% endif %}
</body>

</html>