{% extends 'shop/base.html' %}

{% block content %}

<div class="wrapper-text">

{% if validlink %}

<h1 class="section-header mb-title">Придумайте новый пароль!</h1>
<div class="article__text">
  <form class="form" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="user-menu__link login__button" type="submit" name="send" value="send">Отправить</button>
  </form>
  </div>
</div>
{% else %}

<div class="wrapper-text">
  <div class="article__wrapper">
      <div class="article__text">
        <p>Ссылка для сброса пароля недействительна, возможно, потому, что она уже использовалась. Пожалуйста, запросите сброс нового пароля.</p>
      </div>
  </div>
  <div class="about-pumpkin"><img src="/static/shop/img/pumpkin.png" width="278" height="380" alt="Логотип магазина Дом Лесной Ведьмы"></div>
</div>
{% endif %}
{% endblock %}
