{% extends 'shop/base.html' %}

{% block content %}

<div class="wrapper-text">
  <h1 class="section-header mb-title">Смена пароля</h1>
  <div class="article__wrapper">
    <div class="article__text">
      <p>Введите свой адрес электронной почты для смены пароля.</p>
    </div>
  </div>
  <form class="form" method="POST">
    {% csrf_token %}
      {{ form.as_p }}
    <button class="user-menu__link login__button" type="submit" name="send" value="send">Отправить</button>
  </form>
  <div class="about-pumpkin"><img src="../../static/shop/img/pumpkin.png" width="278" height="380" alt="Логотип магазина Дом Лесной Ведьмы"></div>
{% endblock %}
