// Font
$mainFont                : 'Reggae One', Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #101010;
$mainFontSize            : 18px;
$titleSizeLG             : 42px;
$titleSize               : 32px;
$titleSizeTablet         : 26px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$lgwidth                 : 1586px;
$desktopWidth            : 1200px;
$smDesktopWidth          : 900px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;




// Main color
$default-color           : #EFE26C;
$bg-main-color           : #29147b;
$substrate-color         : #04010F;
$input-color             : #f9fec6;
$deep-main-color         : #7612a8;
$success-color           : #26de81;
$danger-color            : #fc5c65;
$warning-color           : #fed330;
$purple-color            : #8854d0;


// Border Color
$border-base             : #DCDFE6;
$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;
$border-lightex          : #F2F6FC;