{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
<h1 class="section-header">{{ title }}</h1>
<div class="wrapper-text">
    <p class="text">Добро пожаловать в наш уютный магический магазинчик!</p>
    <p class="text">На нашем сайте вы можете найти как профессиональные товары для занятий магическим ремеслом,
        так и просто приятные атмосферные предметы эзотерики. Мы будем очень благодарны Вам,
        если после покупки вы оставите отзыв на странице товара в графе «Отзывы» - это поможет
        нам стать еще лучше, а Вам - определиться с покупкой. К каждому товару есть описание и
        рекомендации по применению, но если Вам что-то непонятно – Вы всегда можете связаться с нами.
        А так же, в разделе «Статьи» Вы можете прочитать историю различных магических праздников,
        информацию про ритуалы, магическую силу трав и камней и многое, многое другое…
        Приятного погружения в наш магический лес!</p>
    <div class="about-pumpkin"><img src="{% static 'shop/img/pumpkin.png' %}" width="278" height="380" alt="Логотип магазина Дом Лесной Ведьмы"></div>
</div>
{% endblock %}