{% extends 'shop/base.html' %}

{% block content %}
<h2 class="section-header tab__title">Личный кабинет</h2>
<div class="tab-wrapper">
    <input type="radio" name="tab" id="tab-1" checked>
    <label for="tab-1" class="tab__label">Заказы</label>
    <input type="radio" name="tab" id="tab-2">
    <label for="tab-2" class="tab__label">Ожидаемое</label>
    
    <div class="tab_content">
      <section class="tab__section tab-1">
        <table class="order-table">
            <thead>
                <tr>
                    <th>Номер заказа</th>
                    <th>Статус</th>
                    <th>Сумма</th>
                    <th>Статус платежа</th>
                    <th>Дата создания</th>
                </tr>
            </thead>
            <tbody>
                {% for order in customer.orders.all %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.get_status_display }}</td>
                    <td>{{ order.cart.final_price }} руб.</td>
                    <td>{{ order.pay_status }}</td>
                    <td>{{ order.created_at }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </section>
      <section class="tab__section tab-2 catalog">
        <div class="catalog__wrapper">
        {% for goods in customer.wishlist.all %}
        
        
                <figure class="catalog__item">
                    <figcaption class="catalog__title"> {{ goods.title }}</figcaption>
                      <div class="catalog__image-wrapper">
                        <img alt="изображение {{ goods.title }}"
                        height="347" src="{{goods.get_photo_url}}" width="258" class="catalog__image">
                      </div>
                      <a href="{{ goods.get_absolute_url }}" class="button catalog__button">Открыть</a>
                    <a class="cart__delete-btn cart__delete-btn--center" href="{% url 'remove_from_wishlist' post_id=goods.id %}" title="удалить из ожидаемого">
                      <span class="visually-hidden">Удалить</span>
                  </a>
                  </figure>
        

        {% endfor %}
    </div>
        </section>
    </div>
  </div>
{% endblock content %}