{% extends 'shop/base.html' %}

{% block content %}
<h2 class="section-header tab__title">Личный кабинет</h2>
<div class="tab-wrapper">
    <input type="radio" name="tab" id="tab-1" checked>
    <label for="tab-1" class="tab__label">Заказы</label>
    <input type="radio" name="tab" id="tab-2">
    <label for="tab-2" class="tab__label">Ожидаемое</label>
    
    <div class="tab_content">
      <section class="tab__section tab-1">
        <table class="order-table">
            <thead>
                <tr>
                    <th>Номер заказа</th>
                    <th>Статус</th>
                    <th>Сумма</th>
                    <th>Статус платежа</th>
                    <th>Дата создания</th>
                </tr>
            </thead>
            <tbody>
                {% for order in customer.orders.all %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.get_status_display }}</td>
                    <td>{{ order.cart.final_price }} руб.</td>
                    <td>{{ order.pay_status }}</td>
                    <td>{{ order.created_at }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </section>
      <section class="tab__section tab-2">
        {% for goods in customer.wishlist.all %}

        <div class="card col-md-4 p-0 mb-3 mt-3">

            <img src="{{goods.get_photo_url}}" class="card-img-top" alt="{{ goods.title }}">

            <div class="card-body text-center">

                <h5 class="card-title"><a href="{{ goods.get_absolute_url }}"
                                          class="text-decoration-none">
                    {{ goods.title }}
                </a></h5>
            </div>

            <div class="card-body text-center">
                <a href="{% url 'remove_from_wishlist' post_id=goods.id %}"
                   class="btn btn-danger">Удалить из ожидаемого <i class="fas fa-star"></i></a>
            </div>

        </div>

    {% endfor %}
        </section>
    </div>
  </div>
{% endblock content %}