{% extends 'shop/base.html' %}

{% block content %}

<div class="breadcrumbs">
    <ul class="breadcrumbs__list">
        <li class="breadcrumbs__item">
            <a href="{% url 'article' %}" class="breadcrumbs__link">Статьи</a>
        </li>
        <li class="breadcrumbs__item">
            <a href="{{ post.cat.get_absolute_url }}" class="breadcrumbs__link">{{post.cat.name}}</a>
        </li>
        <li class="breadcrumbs__item"> {{post.title}}
        </li>
    </ul>
</div>
<h1 class="section-header article__header">{{post.title}}</h1>
<div class="article__wrapper">
    <img alt="изображение {{post.title}}" height="347" src="{{post.photo.url}}" width="347" class="article__image">
    <div class="article__text">
        {{post.content|safe}}
    </div>
</div>

{% endblock %}