{% extends 'shop/base.html' %}

{% block content %}

<h1 class="section-header article__header">Статьи</h1>

{% for article in articles %}
<article class="article">
    <div class="article__wrapper">
        <a class="article__title" href="{{ article.get_absolute_url }}"><h2 class="article__title">{{ article.title }}</h2></a>
        <img class="article__preview-img" alt="изображение {{article.title}}" height="347" src="{{article.photo.url}}"
            width="458" class="catalog__image">
        <div class="article__desc">
            {{ article.content|safe|linebreaks|truncatewords:60 }}
        </div>
        
    </div>
    <div class="clearfix"></div>
    <a class="button article__btn-read" href="{{ article.get_absolute_url }}">Читать</a>
</article>
{% endfor %}
{% endblock %}