{% load static %}
{% load shop_tags %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'shop/favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'shop/favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'shop/favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'shop/favicon/site.webmanifest' %}">
  <link rel="mask-icon" href="{% static 'shop/favicon/safari-pinned-tab.svg' %}" color="#9e2d67">
  <meta name="msapplication-TileColor" content="#29147b">
  <meta name="theme-color" content="#ffffff">
  <link type="text/css" href="{% static 'shop/css/style.css' %}" rel="stylesheet" />
	<title>{{title}}</title>
</head>
<body>
  <div class="wrapper">
    <div class="wrapper-content">
      <header class="header">
        <div class="header__top"><a href="{% url 'home' %}" class="header__logo logo"><img src="{% static 'shop/img/logo.png' %}"
              width="127" height="124" alt="Логотип магазина Дом Лесной Ведьмы"></a>
          <div class="cart header__cart"><a href="{% url 'cart' %}" class="cart__link"><img src="{% static 'shop/img/cart-icon.png' %}" width="78"
                height="69" alt="корзина"><span>{{ cart.products.count }}</span></a></div>
         <nav class="user-menu user-menu--nojs user-menu--closed header__user-menu">
          <button class="user-menu__toggle" type="button" data-toggle="toggleClass"><span class="visually-hidden">Открыть</span>
          </button>
          <ul class="user-menu__list">
            {% if request.user.is_authenticated %}
              <li class="user-menu__item"><a class="user-menu__link" href="{% url 'account' %}">Личный кабинет</a></li>
              <li class="user-menu__item"><a class="user-menu__link" href="{% url 'logout' %}">{{user.username}} | Выйти</a></li>
            {% else %}
              <li class="user-menu__item"><a class="user-menu__link" href="{% url 'login' %}">Вход</a></li>
              <li class="user-menu__item"><a class="user-menu__link" href="{% url 'registration' %}">Регистрация</a></li>
            {% endif %}
          </ul>
         </nav>
        </div>
        <div class="header__bottom">
          <h1 class="header__title title"><span>Дом</span> лесной ведьмы</h1>
        </div>
      </header>
      <main>
        <div class="substrate">
          <div class="substrate__container">
            <div class="nav-container">
              <nav class="nav nav--closed nav--nojs">
                <button class="nav__toggle" type="button" data-toggle="toggleClass"><span class="visually-hidden">Открыть меню</span></button>
                <ul class="nav__list">
                  {% block mainmenu %}
                  {% for m in menu %}
                  <li class="nav__item {% if m.url_link in request.path %} nav__item--active{% endif %}"><a
                      href="{% url m.url_name %}">{{m.title}}</a></li>
                  {% endfor %}
                  {% endblock mainmenu %}
                </ul>
              </nav>
        
              <div class="cart"><a href="{% url 'cart' %}" class="cart__link"><img src="{% static 'shop/img/cart-icon.png' %}"
                    width="78" height="69" alt="корзина"></a></div>
              <nav class="user-menu user-menu--nojs user-menu--closed">
                <button class="user-menu__toggle" type="button" data-toggle="toggleClass"><span class="visually-hidden">Открыть</span>
                </button>
                <ul class="user-menu__list">
                  {% if request.user.is_authenticated %}
                    <li class="user-menu__item"><a class="user-menu__link" href="{% url 'login' %}">Личный кабинет</a></li>
                    <li class="user-menu__item"><a class="user-menu__link" href="{% url 'logout' %}">{{user.username}} | Выйти</a></li>
                  {% else %}
                    <li class="user-menu__item"><a class="user-menu__link" href="{% url 'login' %}">Вход</a></li>
                    <li class="user-menu__item"><a class="user-menu__link" href="{% url 'registration' %}">Регистрация</a></li>
                  {% endif %}
                </ul>
              </nav>
            </div>
            <ul>
              {% if cat_selected == 0 %}
                      <li class="selected">Все категории</li>
              {% else %}
                      <li><a href="{% url 'home' %}">Все категории</a></li>
              {% endif %}
              
              {% for c in cats %}
                  {% if c.goods__count > 0 %}
                      {% if c.pk == cat_selected %}
                      <li class="selected">{{c.name}}</li>
                      {% else %}
                      <li><a href="{{ c.get_absolute_url }}">{{c.name}}</a></li>
                      {% endif %}
                  {% endif %}
              {% endfor %}
            </ul>
        <!-- Хлебные крошки -->
        <form class="search__form" action="{% url 'search_results' %}" method="get">
          <input class="search__input" name="q" type="text" placeholder="Поиск">
        </form>
        {% block breadcrumbs %}
        {% endblock %}
      
      <!-- Блок контента -->
      <div class="wrapper__container">
      {% block content %}
      {% endblock %}
      {% if page_obj.has_other_pages %}
      <nav class="pagination">
          <ul class="pagination__list">
              {% if page_obj.has_previous %}
              <li class="pagination__item">
                  <a class="pagination__link" href="?page={{ page_obj.previous_page_number }}">
                    <span class="visually-hidden">назад</span> ←</a>
              </li>
              {% endif %}
  
              {% for p in page_obj.paginator.page_range %}
              {% if page_obj.number == p %}
              <li class="pagination__item selected">{{ p }}
              </li>
              {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:4 %}
              <li class="pagination__item">
                  <a class="pagination__link" href="?page={{ p }}">{{ p }}</a>
              </li>
              {% endif %}
              {% endfor %}
  
              {% if page_obj.has_next %}
              <li class="pagination__item">
                  <a class="pagination__link" href="?page={{ page_obj.next_page_number }}">
                    <span class="visually-hidden">вперед</span> →</a>
              </li>
              {% endif %}
          </ul>
      </nav>
      {% endif %}
      </div>
          </div>
      </div>
    </main>
    <!-- Конец блока контента -->
    
    <footer class="footer">
      <div class="footer__wrapper">
        <ul class="social footer__social">
          <li class="social__item social__item--vk"><a href="#"><span class="visually-hidden">Вконтакте</span></a>
          </li>
          <li class="social__item social__item--inst"><a href="#"><span class="visually-hidden">Инстиграмм</span></a>
          </li>
        </ul>
        <p class="footer__copyright">Copyrignt 2021. Все права защищены</p>
      </div>
    </footer>
    </div>
  </div>
<script src="{% static 'shop/js/main.js' %}"></script>
</body>

<script>
  (function() {
    function getQTYup(url) {
  fetch(url, {
    headers: {
      "X-Requested-With": "XMLHttpRequest",
    }
  })
  .then(response => response.json())
  .then(data => {
    console.log('success');
  });
}

function getCountGoods() {
  let cart_remove_qty = document.querySelectorAll('.js-cart-remove');

  for(i=0; i < cart_remove_qty.length; i++) {
    console.log(cart_remove_qty[i]);
      if(cart_remove_qty[i].previousSibling.previousSibling.textContent > 1) {
        cart_remove_qty[i].style.display = "block";
      } else {
        cart_remove_qty[i].style.display = "none";
      }
    }
}

getCountGoods();

    let cart_add_qty = document.querySelectorAll('.js-cart');
    for (i=0; i < cart_add_qty.length; i++) {
      cart_add_qty[i].addEventListener("click", (event) => {
        event.preventDefault();
        let targetLink = event.target.closest('a'); 
        if (event.target.tagName == 'a') {
          targetLink = event.target;
        } 
        let count_cart_block = targetLink.nextSibling.nextSibling;

        let ct_model = targetLink.getAttribute('data-ctmodel');
        let slug = targetLink.getAttribute('data-slug');
        count_cart = Number(count_cart_block.textContent) + 1;
        count_cart_block.textContent = count_cart;
        const getUrlCart = `./change_up/${ct_model}/${slug}/`;
        getQTYup(getUrlCart);
        getCountGoods()
    });
    }

    let cart_remove_qty = document.querySelectorAll('.js-cart-remove');
    for (i=0; i < cart_remove_qty.length; i++) {
      cart_remove_qty[i].addEventListener("click", (event) => {
        event.preventDefault();
        let targetLink = event.target.closest('a'); 
        if (event.target.tagName == 'a') {
          targetLink = event.target;
        } 
        let count_cart_block = targetLink.previousSibling.previousSibling;
        if (Number(count_cart_block.textContent) > 1) {
          count_cart = Number(count_cart_block.textContent) - 1;
          count_cart_block.textContent = count_cart;
        } else {
          targetLink.style.display = "none";
          console.log(targetLink)
        }
        console.log(count_cart_block);

        let ct_model = targetLink.getAttribute('data-ctmodel');
        let slug = targetLink.getAttribute('data-slug');
        
        const getUrlCart = `./change_down/${ct_model}/${slug}/`;

        getQTYup(getUrlCart);
        getCountGoods()

    });
    }

  })();

</script>
</html>
