{% extends 'shop/base.html' %}

{% block content %}
<section class="catalog">
    <h2 class="catalog__section-header section-header">Содержимое корзинки</h2>
    <p>{% if not cart.products.count %} Вашa корзина пуста {% endif %}</p>
    {% if cart.products.count %}
    <ul class="cart">
        {% for item in cart.products.all %}
        <li class="cart__item">
            <div class="catalog__image-wrapper cart__image-wrapper">
                {% if item.content_object.photo %}
                <img alt="{{post.title}}" height="298" src="{{item.content_object.photo.url}}" width="279"
                    class="catalog__image cart__image">
                {% else %}
                <img alt="изображение товара" height="298" src="../static/shop/img/notavailable2.jpg" width="279"
                    class="catalog__image cart__image">
                {% endif %}
            </div>
            <div class="cart__content">
                <h3>{{ item.display_name }}</h3>
                <small class="cart__article">артикул товара</small>
                <div class="cart__wrapper">
                    <table class="cart__settings">
                        <tr class="cart__settings-list">
                            <th class="cart__settings-item">Цвет</th>
                            <th class="cart__settings-item">Размер</th>
                            <th class="cart__settings-item">Цена за шт.</th>
                        </tr>
                        <tr class="cart__settings-list">
                            <td class="cart__settings-item">Желтый</td>

                            <td class="cart__settings-item">10 см</td>

                            <td class="cart__settings-item">{{ item.content_object.price }} руб.</td>
                        </tr>
                    </table>
                    <div class="cart__settings">
                            <div class="cart__settings-item cart__counter-block">
                                <form action="{% url 'change_qty' ct_model=item.content_object.ct_model slug=item.content_object.slug %}" method="POST">
                                    {% csrf_token %}
                                <button class="cart__counter js-btn-up" type="button">
                                    <span class="visually-hidden">Увеличить</span>
                                    <svg class="icon icon--counter" width="41" height="39" viewBox="0 0 41 39"
                                        fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M25.102 24.29L20.886 38.674H20.018L15.244 24.29L0.488 19.764V19.144L15.244 14.928L20.018 0.729998H20.886L25.102 14.928L40.23 19.144V19.764L25.102 24.29Z"
                                            fill="white" />
                                    </svg>
                                </button>
                                <input class="js-input-qty" type="number" style="width: 70px;" name="qty" min="1" value="{{ item.qty }}">
                                <button class="cart__counter js-btn-down" type="button">
                                    <span class="visually-hidden">Уменьшить</span>
                                    <svg class="icon icon--counter" width="27" height="13" viewBox="0 0 27 13" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0.976 12.964V0.749998L26.644 6.454V6.888L0.976 12.964Z" fill="white" />
                                    </svg>
                                </button>
                                <button class="button cart-btn-diff" type="submit">Изменить</button>
                            </div>
                            <div class="cart__item-bottom">
                                <p class="cart__settings-item">Цена {{ item.final_price }} руб.</p>
                                <a class="cart__delete-btn" href="{% url 'delete_from_cart' ct_model=item.content_object.ct_model slug=item.content_object.slug %}" title="удалить из корзины">
                                    <span class="visually-hidden">Удалить</span>
                                </a>
                            </div>
                    </form>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'delivery' %}" class="link link--light cart__link-delivery">Информации о доставке и оплате</a>
    {% if messages %}
{% for message in messages %}
    <div class="order__alert">
        <strong>{{ message }}</strong>
    </div>
{% endfor %}
{% endif %}
<form id="form-order" class="order__form" action="{% url 'make-order' %}" method="POST">
    {% csrf_token %}
    <div class="form-error" style="color: orange;">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <p class="order__input-wrapper">
      <label for="{{ f.id_for_label }}" class="order__input-label">{{f.label}}</label>
      {% if f.name == 'email' %}
      <input id="email" type="email" name="email" value="{{user.email}}">
      {% else %}
      {{ f }}
      {% endif%}
    </p>
    <div class="form-error" style="color: orange;">{{ f.errors }}</div>
    {% endfor %}
   
    
    {% if cart.products.count %} 
    <div class="checkbox-policy">
        <input id="checkbox-policy" class="checkbox login__info-checkbox" type="checkbox" name="remember" required="required">
        <label for="checkbox-policy" class="checkbox__name policy__label">
     <span class="checkbox__indicator checkbox__indicator--light login__checkbox-indicator"></span>Я даю согласие на обработку <a href="{% url 'policy' %}" class="link link--light">персональных данных</a></label>
    </div>
    <div class="cart__output">

        <button type="submit" class="button button--light cart__button" value="Оформить">Оформить</button>
        <p class="cart__output-text"><strong>Итого: <span class="cart__output-price">{{ cart.final_price }} руб.</span></strong></p>
    </div>
    {% endif %}
    {% endif %}
</form>

</section>
{% endblock %}