{% extends 'shop/base.html' %}

{% block content %}
<section class="catalog">
    <h2 class="catalog__section-header section-header">Содержимое корзинки</h2>
    <p>{% if not cart.products.count %} Вашa корзина пуста {% endif %}</p>
    {% if cart.products.count %}
    <ul class="cart">
        {% for item in cart.products.all %}
        <li class="cart__item">
            <div class="catalog__image-wrapper cart__image-wrapper">
                {% if item.content_object.photo %}
                <img alt="{{post.title}}" height="298" src="{{item.content_object.photo.url}}" width="279"
                    class="catalog__image cart__image">
                {% else %}
                <img alt="изображение товара" height="298" src="../static/shop/img/notavailable2.jpg" width="279"
                    class="catalog__image cart__image">
                {% endif %}
            </div>
            <div class="cart__content">
                <h3>{{ item.display_name }}</h3>
                <small class="cart__article">артикул товара</small>
                <div class="cart__wrapper">
                    <table class="cart__settings">
                        <tr class="cart__settings-list">
                            <th class="cart__settings-item">Цвет</th>
                            <th class="cart__settings-item">Размер</th>
                            <th class="cart__settings-item">Цена за шт.</th>
                        </tr>
                        <tr class="cart__settings-list">
                            <td class="cart__settings-item">Желтый</td>

                            <td class="cart__settings-item">10 см</td>

                            <td class="cart__settings-item">{{ item.content_object.price }} руб.</td>
                        </tr>
                    </table>
                    <div class="cart__settings">
                            <div class="cart__settings-item cart__counter-block">
                                <form action="{% url 'change_qty' ct_model=item.content_object.ct_model slug=item.content_object.slug %}" method="POST">
                                    {% csrf_token %}
                                <button class="cart__counter js-btn-up" type="button">
                                    <span class="visually-hidden">Увеличить</span>
                                    <svg class="icon icon--counter" width="41" height="39" viewBox="0 0 41 39"
                                        fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M25.102 24.29L20.886 38.674H20.018L15.244 24.29L0.488 19.764V19.144L15.244 14.928L20.018 0.729998H20.886L25.102 14.928L40.23 19.144V19.764L25.102 24.29Z"
                                            fill="white" />
                                    </svg>
                                </button>
                                <input class="js-input-qty" type="number" style="width: 70px;" name="qty" min="1" value="{{ item.qty }}">
                                <button class="cart__counter js-btn-down" type="button">
                                    <span class="visually-hidden">Уменьшить</span>
                                    <svg class="icon icon--counter" width="27" height="13" viewBox="0 0 27 13" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0.976 12.964V0.749998L26.644 6.454V6.888L0.976 12.964Z" fill="white" />
                                    </svg>
                                </button>
                                <button class="button" type="submit">Изменить количество</button>
                            </div>
                        <p class="cart__settings-item">Цена {{ item.final_price }} руб.</p>
                        <a class="cart__delete-btn" href="{% url 'delete_from_cart' ct_model=item.content_object.ct_model slug=item.content_object.slug %}"">
                            <span class="visually-hidden">Удалить</span>
                        </a>
                    </form>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    
    {% if messages %}
{% for message in messages %}
    <div class="alert alert-success fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
{% endif %}
<form id="form-order" action="{% url 'make-order' %}" method="POST">
    {% csrf_token %}
    <div class="form-error" style="color: orange;">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <p class="login__input-wrapper">
      <label for="{{ f.id_for_label }}" class="login__label">{{f.label}}</label>
      {% if f.name == 'email' %}
      <input id="email" type="email" name="email" value="{{user.email}}">
      {% else %}
      {{ f }}
      {% endif%}
    </p>
    <div class="form-error" style="color: orange;">{{ f.errors }}</div>
    {% endfor %}
   
    <button type="submit" class="button" value="Оформить">Оформить</button>
</form>
    {% if cart.products.count %} 
    <div class="cart__output">
        <p class="cart__output-text"><strong>Итого: <span class="cart__output-price">{{ cart.final_price }} руб.</span></strong></p>
        <a href="#" class="button">Оформить</a>
    </div>
    {% endif %}
    {% endif %}
</section>
<script>
    let btnUp = document.querySelectorAll('.js-btn-up');
    let inputQTY = document.querySelectorAll('.js-input-qty');
    for (i=0; i < btnUp.length; i++) {
        btnUp[i].addEventListener("click", (event) => {
        event.preventDefault();
        let targetBtn = event.target;
        if (event.target.tagName == 'svg') {
            targetBtn = event.target.parentNode;
            console.log('1')
        } else if (event.target.tagName == 'path') {
            targetBtn = event.target.parentNode.parentNode;
        }
        console.log(targetBtn.nextSibling.nextSibling);
        targetBtn.nextSibling.nextSibling.value = Number(targetBtn.nextSibling.nextSibling.value) + 1;
        
    });
    }

    let btnDown = document.querySelectorAll('.js-btn-down');
    for (i=0; i < btnUp.length; i++) {
        btnDown[i].addEventListener("click", (event) => {
        event.preventDefault();
        let targetBtn = event.target;
        if (event.target.tagName == 'svg') {
            targetBtn = event.target.parentNode;
            console.log('1')
        } else if (event.target.tagName == 'path') {
            console.log('3')
            targetBtn = event.target.parentNode.parentNode;
        }
        console.log(targetBtn.nextSibling.nextSibling);
        if(Number(targetBtn.previousSibling.previousSibling.value) > 1) {
            targetBtn.previousSibling.previousSibling.value = Number(targetBtn.previousSibling.previousSibling.value) - 1;
        } else {
            targetBtn.previousSibling.previousSibling.value = 1;
        }
        
        
    });
    }
</script>
{% endblock %}