{% extends 'shop/base.html' %}

{% block content %}
<section class="">
    <h2 class="catalog__section-header section-header">Спасибо за ваш заказ!</h2>
    <div class="checkout-block">
        <p class="checkout-block__text">Информацию о № <b>{{ order.id }}</b> заказе, а <br>также его статус можете узнать в <br>личном кабинете. <br>Также Информация
            отправлена на указанную почту - <b>{{ order.email }}</b>.<br> С вами также может связаться<br> Ведьма для уточнения информации<br> по 
            указанным контактам! 
        </p>
    </div>
</section>
{% endblock %}