{% extends 'shop/base.html' %}

{% block content %}
<h1 class="section-header article__header">Доставка и оплата</h1>
<div class="article__wrapper">
    <div class="article__text">
        <p>Мы находимся в Волгограде, но отправляем посылки по России и всему
            миру. По России посылки доставляем Почтой России и СДЭКом - вы сами выбираете наиболее удобный для себя тариф
            и способ доставки. Стоимость доставки по миру - 600 рублей.</p>
        <p><b>Доставка от 3000 рублей Почтой России - бесплатно по всему миру!</b> Внимание: доставка за наш счет
            считается ТОЛЬКО при оплате картой онлайн на сумму 3000 и выше (т.е. если сумма без скидки 3000, а со скидкой - ниже либо если вы
            оплачиваете заказ подарочным сертификатом, доставка будет <b>платной</b>).</p>
            <p>Работаем только по 100% предоплате. <b>Посылки отправляем в течение 1-5 рабочих дней после оплаты заказа (не считая день заказа). </b></p>
            <p>После отправки посылки присылаем вам трек-номер для отслеживания.</p>
            <p>По Волгограду возможна доставка Яндекс Доставкой (оплата по тарифам Яндекс Доставки) или самовывоз (он бесплатный, но вам нужно будет
                приехать и самим забрать заказ из указанного нами места).</p>
           <h2>КАК СДЕЛАТЬ ЗАКАЗ</h2>
            <p>Воспользоваться нашим <a href="https://houseofwitch.ru/" class="link">магазином</a>,
            добавить понравившиеся товары в корзину, оформить и оплатить заказ.</p>
            <h2> КАК ОПЛАТИТЬ ЗАКАЗ</h2>
            <p>После оформления заказа вы переходите к онлайн-оплате. Она сделана на основе платежной системы Робокасса -
            оплатить заказ
            можно картами Visa и Master Card, с помощью Webmoney и Qiwi, а также еще 14 способами. После оплаты вам на
            почту
            приходит электронный чек.</p>
            <p><strong>Если у вас остались какие-либо вопросы - пишите нам
                на e-mail mushroom@houseofwitch.ru или оставляйте свой вопрос в форме ниже.</strong></p>
                <p>Вся юридическая
            информация, а
            также пользовательское соглашение, размещены на странице - <a href="https://houseofwitch.ru/policy">https://houseofwitch.ru/policy</a>.
                <p>График работы Дома Лесной Ведьмы
                        - с пн по чт с 10
                        до 20, в пт - с 10 до 18 (кроме официальных выходных). Если вы написали нам в нерабочее время и
                        не
                        получили ответа - пожалуйста, не беспокойтесь, как только мы будем на связи, Ведьма обязательно вам
                        ответит!</p>
        </p>
    </div>
</div>

{% endblock %}