{% extends 'shop/base.html' %}
 
{% block content %}

<div class="breadcrumbs">
    <ul class="breadcrumbs__list">
        <li class="breadcrumbs__item">
            <a href="{% url 'catalog' %}" class="breadcrumbs__link">Каталог</a>
        </li>
        <li class="breadcrumbs__item">
            <a href="{{ post.cat.get_absolute_url }}" class="breadcrumbs__link">{{post.cat.name}}</a>
        </li>
        <li class="breadcrumbs__item">
            <a href="{{ post.cat.get_absolute_url }}" class="breadcrumbs__link">{{post.cat.name}}</a>
        </li>
        <li class="breadcrumbs__item">
            <a href="{{ post.cat.get_absolute_url }}" class="breadcrumbs__link">{{post.cat.name}}</a>
        </li>
        <li class="breadcrumbs__item"> {{post.title}}
        </li>
    </ul>
</div>

<section class="product">
    <div class="product__wrapper">
        <div class="product__photo">
            {% if post.photo %}
            <img class="img-article-left" src="{{post.photo.url}}" alt="{{post.title}}">
            {% else %}
            <img alt="изображение {{post.title}}"
                height="347" src="../../static/shop/img/notavailable2.jpg">
            {% endif %}
        </div>
        <div class="product__content">
            <h2>{{post.title}}</h2>
            <p>{{post.description}}</p>
            {% if request.user.is_authenticated %}

        {% if  post.stock %}
          {%  if post not in cart.products_in_cart %}
            <a href="{% url 'add_to_cart' ct_model=post.ct_model slug=post.slug %}" class="btn btn-primary cart_add_btn" 
              title="добавить в корзину">
              <span class="visually-hidden">Добавить в корзину</span> 
            </a>
          {% else %}
          <div class="cart__counter-block">
          <a class="cart__counter cart__counter--plus js-cart" data-ctmodel="{{ post.ct_model }}" data-slug="{{ post.slug }}" href="{% url 'change_up' ct_model=post.ct_model slug=post.slug %}"
            title="увеличить">
            <span class="visually-hidden">Увеличить</span>
        </a>
        {%  for item in cart.products.all %}
        {% if item.display_name == post.title %}
        <div class="js-count-cart">{{ item.qty }}</div>
        {% endif %}
        {% endfor %}
        <a class="cart__counter cart__counter--minus js-cart-remove" data-ctmodel="{{ post.ct_model }}" data-slug="{{ post.slug }}" href="{% url 'change_down' ct_model=post.ct_model slug=post.slug %}"
          title="уменьшить">
          <span class="visually-hidden">Уменьшить</span>
      </a>
    </div>
      <img src="" alt="">
    </a>
          {% endif %}
          {% else %}
          {% if post not in request.user.customer.wishlist.all %}
          <p class="mark">Нет в наличии</p>
              <a class="cart__add-favorite" href="{% url 'add_to_wishlist' post_id=post.id %}" title="Добавить в ожидаемое">
                <span class="visually-hidden">Добавить в ожидаемое</span></a>
          {% else %}
          <p class="mark">Нет в наличии</p>
              <a class="btn btn-default cart__add-favorite cart__add-favorite--added" disabled="" title="Добавлен в ожидаемое"><span class="visually-hidden">Добавлен в ожидаемое</span></a>
          {% endif %}
        {% endif %}
        {% else %}
        <a href="{% url 'login' %}" class="btn btn-primary cart_add_btn" title="авторизуйтесь">
          <span class="visually-hidden">Добавить в корзину</span>
        </a>
      {% endif %}

        </div>
    </div>
</section>
 
{{post.content|linebreaks}}
{% endblock %}