{% extends 'shop/base.html' %}

{% block content %}
<section class="catalog">
  <h2 class="catalog__section-header section-header">Популярное</h2>
  <div class="catalog__wrapper">
    {% for post in posts %}
    <figure class="catalog__item">
      <figcaption class="catalog__title">{{post.title}}</figcaption>
        {% if post.photo %}
        <div class="catalog__image-wrapper">
          <img alt="изображение {{post.title}}"
          height="347" src="{{post.photo.url}}" width="258" class="catalog__image">
        </div>
        {% else %}
        <div class="catalog__image-wrapper">
          <img alt="изображение {{post.title}}"
          height="347" src="../../static/shop/img/notavailable2.jpg" width="258" class="catalog__image">
        </div>
        {% endif %}
        <a href="{{ post.get_absolute_url }}" class="button catalog__button">Открыть</a>

        {% if request.user.is_authenticated %}

        {% if  post.stock %}
          {%  if post not in cart.products_in_cart %}
            <a href="{% url 'add_to_cart' ct_model=post.ct_model slug=post.slug %}" class="btn btn-primary cart_add_btn" >
              <span class="visually-hidden">Добавить в корзину</span> 
            </a>
          {% else %}
          <div class="cart__counter-block">
          <a class="cart__counter cart__counter--plus js-cart" data-ctmodel="{{ post.ct_model }}" data-slug="{{ post.slug }}" href="{% url 'change_up' ct_model=post.ct_model slug=post.slug %}">
            <span class="visually-hidden">Увеличить</span>
        </a>
        {%  for item in cart.products.all %}
        {% if item.display_name == post.title %}
        <div class="js-count-cart">{{ item.qty }}</div>
        {% endif %}
        {% endfor %}
        <a class="cart__counter cart__counter--minus js-cart-remove" data-ctmodel="{{ post.ct_model }}" data-slug="{{ post.slug }}" href="{% url 'change_down' ct_model=post.ct_model slug=post.slug %}">
          <span class="visually-hidden">Уменьшить</span>
      </a>
    </div>
      <a class="cart__delete-btn" href="{% url 'delete_from_cart' ct_model=post.ct_model slug=post.slug %}"">
        <span class="visually-hidden">Удалить</span>
    </a>
          {% endif %}
          {% else %}
          {% if post not in request.user.customer.wishlist.all %}
          <p class="mark">Нет в наличии</p>
              <a class="cart__add-favorite" href="{% url 'add_to_wishlist' post_id=post.id %}">
                <span class="visually-hidden">Добавить в ожидаемое</span></a>
          {% else %}
          <p class="mark">Нет в наличии</p>
              <a class="btn btn-default cart__add-favorite cart__add-favorite--added" disabled=""><span class="visually-hidden">Добавлен в ожидаемое</span></a>
          {% endif %}
        {% endif %}
        {% else %}
        <a href="{% url 'login' %}" class="btn btn-primary cart_add_btn">
          <span class="visually-hidden">Добавить в корзину</span>
        </a>
      {% endif %}


    </figure>
    {% endfor %}
  </div>
</section>
{% endblock %}
