{% extends 'shop/base.html' %}

{% block content %}

<section class="wrapper-text">
    <h1 style="margin-bottom: 20px;">Политика конфидициальности</h1>
    <div>
        <p class="text"> 1.Общие положения </p>
        
        <p class="text">1.1. Настоящая Политика в отношении обработки персональных данных (далее – «Политика») подготовлена в
            соответствии с п. 2 ч .1 ст. 18.1 Федерального закона Российской Федерации «О персональных данных»
            No152-ФЗ от 27 июля 2006 года (далее – «Закон») и определяет позицию самозанятой Тырины Марии Святославовны
            (далее – «Ведьма») в области обработки и защиты персональных данных (далее – «Данные»), соблюдения прав и
            свобод каждого человека и, в особенности, права на неприкосновенность частной жизни, личную и семейную
            тайну.</p>
        
        <p class="text">2.Область применения </p>
        
        <p class="text">2.1. Настоящая Политика распространяется на Данные, полученные как до, так и после ввода в действие
            настоящей Политики.</p>
        <p class="text">2.2. Действует в отношении всей информации, которую Компания и принадлежащий ей Интернет-магазин "Дом Лесной
            Ведьмы", (далее «Сайт») расположенный на доменном имени<a
                href="https://houseofwitch.ru/">https://houseofwitch.ru/</a>, может получить о Пользователе во время использования
            Сайта, программ и продуктов Сайта.</p>
        
        <p class="text"> 3. ОПРЕДЕЛЕНИЯ </p>
        
        <p class="text">3.1 Под Данными понимается любая информация, относящаяся к прямо или косвенно определенному или определяемому
            физическому лицу (гражданину), т.е. к такой информации, в частности, относятся: ФИО, год, месяц, дата и
            место рождения, адрес, сведения о семейном, социальном, имущественном положении, сведения об образовании,
            профессии, доходах, номер телефона, адрес электронной почты для связи, информация о кандидатах на вакантные
            должности, оставленная такими кандидатами при заполнение анкеты, включая информацию, содержащуюся в резюме
            кандидата, а также другая информация.</p>
        <p class="text">3.2. Под обработкой Данных понимается любое действие (операция) или совокупность действий(операций) с
            Данными, совершаемых с использованием средств автоматизации и/или без использования таких средств. К таким
            действиям (операциям) относятся: сбор, запись, систематизация, накопление, хранение, уточнение (обновление,
            изменение), извлечение, использование, передача (распространение, предоставление, доступ), обезличивание,
            блокирование, удаление, уничтожение Данных.</p>
        <p class="text">3.3. Под безопасностью Данных понимается защищенность Данных от неправомерного и/или несанкционированного
            доступа к ним, уничтожения, изменения, блокирования, копирования, предоставления, распространения Данных, а
            также от иных неправомерных действий в отношении Данных</p>
        <p class="text">3.4. «Администрация сайта Интернет-магазина» (далее – Администрация сайта) – уполномоченные сотрудники на
            управления сайтом, действующие от имени самозанятой Тырины Марии Святославовны, которые организуют и (или)
            осуществляет обработку персональных данных, а также определяют цели обработки персональных данных, состав
            персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.</p>
        <p class="text">3.5. «Пользователь Сайта (далее Пользователь)» – лицо, имеющее доступ к Сайту, посредством сети Интернет и
            использующее Сайт.</p>
        <p class="text">3.6. «Cookies» (далее Куки). Куки – это часть данных, автоматически располагающаяся на жестком диске
            компьютера при каждом посещении веб-сайта. Таким образом, куки – это уникальный идентификатор браузера для
            веб-сайта. Куки дают возможность хранить информацию на сервере и помогают легче ориентироваться в
            веб-пространстве, а также позволяют осуществлять анализ сайта и оценку результатов. Большинство
            веб-браузеров разрешают использование куки, однако можно изменить настройки для отказа от работы с куки или
            отслеживания пути их рассылки. При этом некоторые ресурсы могут работать некорректно, если работа куки в
            браузере будет запрещена.</p>
        <p class="text">3.7. «IP-адрес» — уникальный сетевой адрес узла в компьютерной сети, построенной по протоколу IP.</p>
        
        <p class="text">4. ОБЩИЕ ПОЛОЖЕНИЯ </p>
        
        <p class="text">4.1. Использование Пользователем сайта Интернет-магазина означает согласие с настоящей Политикой
            конфиденциальности и условиями обработки персональных данных Пользователя.</p>
        <p class="text">4.2. В случае несогласия с условиями Политики конфиденциальности Пользователь должен прекратить использование
            сайта Интернет-магазина.</p>
        <p class="text">4.3. Настоящая Политика конфиденциальности применяется к сайту Интернет- магазина houseofwitch.ru.
            Интернет-магазин не контролирует и не несет ответственность за сайты третьих лиц, на которые Пользователь
            может перейти по ссылкам, доступным на сайте Интернет-магазина.</p>
        <p class="text">4.4. Администрация сайта не проверяет достоверность персональных данных, предоставляемых Пользователем Сайта.
        </p>
        
        <p class="text">5. Правовые основания и цели обработки Данных </p>
        
        <p class="text">5.1. Обработка и обеспечение безопасности Данных в Компании осуществляется в соответствии с требованиями
            Конституции Российской Федерации, Закона, Трудового кодекса Российской Федерации, подзаконных актов,
            других определяющих случаи и особенности обработки Данных федеральных законов Российской Федерации,
            руководящих и методических документов ФСТЭК России и ФСБ России.</p>
        <p class="text">5.2. Субъектами Данных, обрабатываемых Компанией, являются: &shy; кандидаты на вакантные должности, включая,
            кандидатов, заполняющих анкету кандидата; &shy; работники Компании, родственники работников Компании, в
            пределах определяемых законодательством Российской Федерации, если сведения о них предоставляются
            работником; &shy; лица, входящие в органы управления Компании и не являющимися работниками; &shy; физические
            лица, с которыми Компанией заключаются договоры гражданско- правового характера; &shy; представители
            юридических лиц – контрагентов Компании; &shy; участники бонусных программ лояльности; &shy; клиенты –
            потребители, в т.ч. посетители сайта, принадлежащего Компании: <a
                href="https://houseofwitch.ru">https://houseofwitch.ru</a>, в том числе с целью оформления заказа на Сайте с
            последующей доставкой клиенту, получатели услуг по доставке; &shy; физические лица, Данные которых
            обрабатываются в интересах третьих лиц – операторов Данных на основании договора (поручения операторов
            Данных);</p>
        <p class="text">5.3. Компания осуществляет обработку Данных субъектов в следующих целях: &shy; осуществления возложенных на
            Компанию законодательством Российской Федерации функций, полномочий и обязанностей в соответствии с
            федеральными законами, в том числе, но не ограничиваясь: Гражданским кодексом Российской Федерации,
            Налоговым кодексом Российской Федерации, Трудовым кодексом Российской Федерации, Семейным кодексом
            Российской Федерации, Федеральным законом от 01.04.1996 г. No 27-ФЗ «Об индивидуальном
            (персонифицированном) учете в системе обязательного пенсионного страхования», Федеральным законом от
            27.07.2006 г. No 152-ФЗ «О персональных данных», Федеральным законом от 28.03.1998 г. No 53-ФЗ «О воинской
            обязанности и военной службе», Федеральным законом от 26.02.1997 г. No 31-ФЗ «О мобилизационной подготовке
            и мобилизации в Российской Федерации», Федеральным законом от 8.02.1998 г. No14-ФЗ «Об обществах с
            ограниченной ответственностью», Федеральным законом от 07.02.1992 No2300-1 «О защите прав потребителей»,
            Федеральным законом от 21.11.1996 г. No 129-ФЗ «О бухгалтерском учете», Федеральным законом от 29.11.2010 г.
            No 326-ФЗ «Об обязательном медицинском страховании в Российской Федерации», а также операторами Данных,
            уставом и локальными актами Компании. Работников в целях:</p>
        
        
            <ul class="text list">
                <li> соблюдения трудового, налогового и пенсионного законодательства Российской Федерации, а именно:
                </li>
                <li> содействия работникам в трудоустройстве, обучении и продвижении по службе; </li>
                <li> расчета и начисления заработной платы; </li>
                <li> организация деловых поездок (командировок) работников; </li>
                <li> оформления доверенностей(в том числе для представления интересов Компании перед третьими лицами);
                </li>
                <li> обеспечения личной безопасности работников; </li>
                <li> контроля количества и качества выполняемой работы; </li>
                <li> обеспечения сохранности имущества; </li>
                <li> соблюдения пропускного режима в помещениях Компании; </li>
                <li> учета рабочего времени; </li>
                <li> пользования различного вида льготами в соответствии с Трудовым кодексом Российской Федерации,
                    Налоговым кодексом Российской Федерации, федеральными законами, а также Уставом и нормативными
                    актами Компании; </li>
                <li> добровольного страхования жизни, здоровья и/или от несчастных случаев. </li>
            </ul><p class="text">Кандидатов на вакантные должности в целях: &shy; принятия решения о возможности заключения трудового
            договора с лицами, претендующими на открытые вакансии; Контрагентов-физических лиц в целях: &shy; заключения
            и исполнения договора, одной из сторон которого является физическое лицо; &shy; рассмотрения возможностей
            дальнейшего сотрудничества. Представителей юридических лиц – контрагентов Компании в целях: &shy; ведения
            переговоров, заключение и исполнение договоров, по которым предоставляются Данные работников такого
            юридического лица для целей исполнения договора по различным направлениям хозяйственной деятельности
            Компании. Физических лиц, Данные которых обрабатываются в интересах третьих лиц – операторов Данных на
            основании договора (поручения операторов Данных) в целях: &shy; исполнения договоров – поручений операторов
            Данных; Родственников работников Компании в целях: &shy; исполнения требований законодательства
            Российской Федерации; &shy; предоставления дополнительных льгот; &shy; участия в корпоративных
            мероприятиях. Участников бонусных программ лояльности в целях: &shy; предоставления информации по товарам,
            проходящим акциям, состоянию лицевого счета; &shy; идентификация участника в программе лояльности;
            обеспечение процедуры учета накопления и использования бонусов; &shy; исполнения Компанией обязательств по
            программе лояльности. Клиентов – потребителей в целях: &shy; предоставления информации по товарам/услугам,
            проходящим акциям и специальным предложениям; &shy; анализа качества предоставляемого Компанией сервиса и
            улучшению качества обслуживания клиентов Компании; &shy; информирования о статусе заказа; &shy; исполнения
            договора, в т.ч. договора купли-продажи, в.т.ч. заключенного дистанционным способом на Сайте, возмездного
            оказания услуг; &shy; доставки заказанного товара клиенту, совершившему заказ на Сайте, возврата товара.
        </p>
        
        <p class="text">6.Принципы и условия обработки Данных </p>
        
        <p class="text">6.1.При обработке Данных Компания придерживается следующих принципов: &shy; обработка Данных осуществляется
            на законной и справедливой основе; &shy; Данные не раскрываются третьим лицам и не распространяются без
            согласия субъекта Данных, за исключением случаев, требующих раскрытия Данных по запросу уполномоченных
            государственных органов, судопроизводства; &shy; определение конкретных законных целей до начала обработки
            (в т.ч. сбора) Данных; &shy; ведется сбор только тех Данных, которые являются необходимыми и достаточными
            для заявленной цели обработки; &shy; объединение баз данных, содержащих Данные, обработка которых
            осуществляется в целях, несовместимых между собой не допускается; &shy; обработка Данных ограничивается
            достижением конкретных, заранее определенных и законных целей; &shy; обрабатываемые Данные подлежат
            уничтожению или обезличиванию по достижению целей обработки или в случае утраты необходимости в достижении
            этих целей, если иное не предусмотрено федеральным законом.</p>
        <p class="text">6.2. Компания может включать Данные субъектов в общедоступные источники Данных, при этом Компания берет
            письменное согласие субъекта на обработку его Данных.</p>
        <p class="text">6.3. Компания не осуществляет обработку Данных, касающихся расовой, национальной принадлежности,
            политических взглядов, религиозных, философских и иных убеждений, интимной жизни, членства в общественных
            объединениях, в том числе в профессиональных союзах.</p>
        <p class="text">6.4. Компания может осуществлять обработку данных о состоянии здоровья субъекта Данных в следующих случаях:
        </p>
        <p class="text">1 в соответствии с законодательством о государственной социальной помощи, трудовым законодательством,
            законодательством Российской Федерации о пенсиях по государственному пенсионному обеспечению, о трудовых
            пенсиях;</p>
        <p class="text">2 для защиты жизни, здоровья или иных жизненно важных интересов работника либо для защиты жизни, здоровья
            или иных жизненно важных интересов других лиц и получение согласия субъекта Данных невозможно;</p>
        <p class="text">3 для установления или осуществления прав работника или третьих лиц, а равно и в связи с осуществлением
            правосудия;</p>
        <p class="text">4 в соответствии с законодательством об обязательных видах страхования, со страховым законодательством.</p>
        <p class="text">6.5. Биометрические Данные (сведения, которые характеризуют физиологические и биологические особенности
            человека, на основании которых можно установить его личность и которые используются оператором для
            установления личности субъекта Данные) в Компании не обрабатываются.</p>
        <p class="text">6.6. Компания не осуществляет трансграничную передачу Данных.</p>
        <p class="text">6.7. В случаях, установленных законодательством Российской Федерации, Компания вправе осуществлять передачу
            Данных третьим лицам (федеральной налоговой службе, государственному пенсионному фонду и иным
            государственным органам) в случаях, предусмотренных законодательством Российской Федерации.</p>
        <p class="text">6.8. Компания вправе поручить обработку Данных субъектов Данных третьим лицам с согласия субъекта Данных, на
            основании заключаемого с этими лицами договора.</p>
        <p class="text">6.9. Лица, осуществляющие обработку Данных на основании заключаемого с Компанией договора (поручения
            оператора), обязуются соблюдать принципы и правила обработки и защиты Данных, предусмотренные Законом. Для
            каждого третьего лица в договоре определяются перечень действий (операций) с Данными, которые будут
            совершаться третьим лицом, осуществляющим обработку Данных, цели обработки, устанавливается обязанность
            такого лица соблюдать конфиденциальность и обеспечивать безопасность Данных при их обработке, указываются
            требования к защите обрабатываемых Данных в соответствии с Законом.</p>
        <p class="text">6.10. В целях исполнения требований действующего законодательства Российской Федерации и своих договорных
            обязательств обработка Данных в Компании осуществляется как с использованием, так и без использования
            средств автоматизации. Совокупность операций обработки включает сбор, запись, систематизацию, накопление,
            хранение, уточнение (обновление, изменение), извлечение, использование, передачу (предоставление, доступ),
            обезличивание, блокирование, удаление, уничтожение Данных.</p>
        <p class="text">6.11. В Компании запрещается принятие на основании исключительно автоматизированной обработки Данных
            решений, порождающих юридические последствия в отношении субъекта Данных или иным образом затрагивающих его
            права и законные интересы, за исключением случаев, предусмотренных законодательством Российской Федерации.
        </p>
        
        <p class="text">7. Права и обязанности субъектов Данных, а также Компании в части обработки Данных </p>
        
        <p class="text">7.1. Субъект, Данные которого обрабатываются Компанией, имеет право: &shy; получать от Компании:</p>
        <p class="text">• подтверждение факта обработки Данных и сведения о наличии Данных,</p>
        <p class="text">относящихся к соответствующему субъекту Данных;</p>
        <p class="text">• сведения о правовых основаниях и целях обработки Данных;</p>
        <p class="text">• сведения о применяемых Компанией способах обработки Данных;</p>
        <p class="text">• сведения о наименовании и местонахождении Компании;</p>
        <p class="text">• cведения о лицах (за исключением работников Компании), которые имеют доступ к Данным или которым могут быть
            раскрыты Данные на основании договора с Компанией или на основании федерального закона;</p>
        <p class="text">• перечень обрабатываемых Данных, относящихся к субъекту Данных, и информацию об источнике их получения, если
            иной порядок предоставления таких Данных не предусмотрен федеральным законом;</p>
        <p class="text">• сведения о сроках обработки Данных, в том числе о сроках их хранения;</p>
        <p class="text">• сведения о порядке осуществления субъектом Данных прав, предусмотренных Законом;</p>
        <p class="text">• наименование (Ф.И.О.) и адрес лица, осуществляющего обработку Данных по поручению Компании;</p>
        <p class="text">• иные сведения, предусмотренные Законом или другими нормативно-правовыми актами Российской Федерации;</p>
        <p class="text">&shy; требовать от Компании уточнения своих Данных, их блокирования или уничтожения в случае, если Данные
            являются неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для
            заявленной цели обработки; &shy; отозвать свое согласие на обработку Данных в любой момент; &shy;
            требовать устранения неправомерных действий Компании в отношении его Данных; &shy; обжаловать действия
            или бездействие Компании в Федеральную службу по надзору в сфере связи, информационных технологий и
            массовых коммуникаций (Роскомнадзор) или в судебном порядке в случае, если субъект Данных считает, что
            Компания осуществляет обработку его Данных с нарушением требований Закона или иным образом нарушает его
            права и свободы; &shy; на защиту своих прав и законных интересов, в том числе на возмещения убытков и/или
            компенсацию морального вреда в судебном порядке.</p>
        <p class="text">7.2. Компания в процессе обработки Данных обязана: &shy; предоставлять субъекту Данных по его запросу
            информацию, касающуюся обработки его ПДн, либо на законных основаниях предоставить отказ в течение тридцати
            дней с даты получения запроса субъекта Данных или его представителя; &shy; разъяснить субъекту Данных
            юридические последствия отказа предоставить Данные, если предоставление Данных является обязательным в
            соответствии с федеральным законом; &shy; до начала обработки Данных (если Данные получены не от субъекта
            Данных) предоставить субъекту Данных следующую информацию, за исключением случаев, предусмотренных частью 4
            статьи 18 Закона:</p>
        <p class="text">1 наименование либо фамилия, имя, отчество и адрес Компании или ее представителя;</p>
        <p class="text">2 цель обработки Данных и ее правовое основание;</p>
        <p class="text">3 предполагаемые пользователи Данных;</p>
        <p class="text">4 установленные Законом права субъектов Данных;</p>
        <p class="text">5 источник получения Данных.</p>
        <p class="text">&shy; принимать необходимые правовые, организационные и технические меры или обеспечивать их принятие для
            защиты Данных от неправомерного или случайного доступа к ним, уничтожения, изменения, блокирования,
            копирования, предоставления, распространения Данных, а также от иных неправомерных действий в отношении
            Данных; &shy; опубликовать в сети Интернет и обеспечить неограниченный доступ с использованием сети
            Интернет к документу, определяющему его политику в отношении обработки Данных, к сведениям о реализуемых
            требованиях к защите Данных; &shy; предоставить субъектам Данных и/или их представителям безвозмездно
            возможность ознакомления с Данными при обращении с соответствующим запросом в течение 30 дней с даты
            получения подобного запроса;</p>
        <p class="text">&shy; осуществить блокирование неправомерно обрабатываемых Данных, относящихся к субъекту Данных, или
            обеспечить их блокирование (если обработка Данных осуществляется другим лицом, действующим по поручению
            Компании) с момента обращения или получения запроса на период проверки, в случае выявления неправомерной
            обработки Данных при обращении субъекта Данных или его представителя либо по запросу субъекту Данных или его
            представителя либо уполномоченного органа по защите прав субъектов персональных данных; &shy; уточнить
            Данные либо обеспечить их уточнение (если обработка Данных осуществляется другим лицом, действующим по
            поручению Компании) в течение 7 рабочих дней со дня представления сведений и снять блокирование Данных, в
            случае подтверждения факта неточности Данных на основании сведений, представленных субъектом Данных или его
            представителем;</p>
        <p class="text">&shy; прекратить неправомерную обработку Данных или обеспечить прекращение неправомерной обработки Данных
            лицом, действующим по поручению Компании, в случае выявления неправомерной обработки Данных,
            осуществляемой Компанией или лицом, действующим на основании договора с Компанией, в срок, не
            превышающий 3 рабочих дней с даты этого выявления;</p>
        <p class="text">&shy; прекратить обработку Данных или обеспечить ее прекращение (если обработка Данных осуществляется другим
            лицом, действующим по договору с Компанией) и уничтожить Данные или обеспечить их уничтожение (если
            обработка Данных осуществляется другим лицом, действующим по договору с Компанией) по достижения цели
            обработки Данных, если иное не предусмотрено договором, стороной которого, выгодоприобретателем или
            поручителем по которому является субъект Данных, в случае достижения цели обработки Данных;</p>
        <p class="text">&shy; прекратить обработку Данных или обеспечить ее прекращение и уничтожить Данные или обеспечить их
            уничтожение в случае отзыва субъектом Данных согласия на обработку Данных, если Компания не вправе
            осуществлять обработку Данных без согласия субъекта Данных;</p>
        <p class="text">&shy; вести журнал учета обращений субъектов ПДн, в котором должны фиксироваться запросы субъектов Данных на
            получение Данных, а также факты предоставления Данных по этим запросам.</p>
        
        <p class="text">8. Требования к защите Данных </p>
        
        <p class="text">8.1. Компания при обработке Данных принимает необходимые правовые, организационные и технические меры для
            защиты Данных от неправомерного и/или несанкционированного доступа к ним, уничтожения, изменения,
            блокирования, копирования, предоставления, распространения Данных, а также от иных неправомерных действий
            в отношении Данных.</p>
        <p class="text">8.2. К таким мерам в соответствии с Законом, в частности, относятся: &shy; назначение лица, ответственного за
            организацию обработки Данных, и лица, ответственного за обеспечение безопасности Данных;</p>
        <p class="text">&shy; разработка и утверждение локальных актов по вопросам обработки и защиты Данных; &shy; применение
            правовых, организационных и технических мер по обеспечению безопасности Данных:</p>
        <p class="text">o определение угроз безопасности Данных при их обработке в информационных системах персональных данных;</p>
        <p class="text">o применение организационных и технических мер по обеспечению безопасности Данных при их обработке в
            информационных системах персональных данных, необходимых для выполнения требований к защите Данных,
            исполнение которых обеспечивает установленные Правительством Российской Федерации уровни защищенности
            Данных;</p>
        <p class="text">o применение прошедших в установленном порядке процедуру оценки соответствия средств защиты информации;</p>
        <p class="text">o оценка эффективности принимаемых мер по обеспечению безопасности Данных до ввода в эксплуатацию
            информационной системы персональных данных;</p>
        <p class="text">o учет машинных носителей Данных, если хранение Данных осуществляется на машинных носителях;</p>
        <p class="text">o обнаружение фактов несанкционированного доступа к Данным и принятие мер по недопущению подобных инцидентов
            в дальнейшем;</p>
        <p class="text">o восстановление Данных, модифицированных или уничтоженных вследствие несанкционированного доступа к ним;</p>
        <p class="text">o установление правил доступа к Данным, обрабатываемым в информационной системе персональных данных, а также
            обеспечение регистрации и учета всех действий, совершаемых с Данными в информационной системе
            персональных данных.</p>
        <p class="text">&shy; контроль за принимаемыми мерами по обеспечению безопасности Данных и уровнем защищенности
            информационных систем персональных данных;</p>
        <p class="text">&shy; оценка вреда, который может быть причинен субъектам Данных в случае нарушения требований Закона,
            соотношение указанного вреда и принимаемых Компанией мер, направленных на обеспечение выполнения
            обязанностей, предусмотренных Законом; &shy; соблюдение условий, исключающих несанкционированный доступ к
            материальным носителям Данных и обеспечивающих сохранность Данных;</p>
        <p class="text">&shy; ознакомление работников Компании, непосредственно осуществляющих обработку Данных, с положениями
            законодательства Российской Федерации о Данных, в том числе с требованиями к защите Данных, локальными
            актами по вопросам обработки и защиты Данных, и обучение работников Компании.</p>
        
        <p class="text">9. Сроки обработки (хранения) Данных </p>
        
        <p class="text">9.1. Сроки обработки (хранения) Данных определяются исходя из целей обработки Данных, в соответствии со
            сроком действия договора с субъектом Данных, требованиями федеральных законов, требованиями операторов
            Данных, по поручению которых Компания осуществляет обработку Данных, основными правилами работы архивов
            организаций, сроками исковой давности.</p>
        <p class="text">9.2. Данные, срок обработки (хранения) которых истек, должны быть уничтожены, если иное не предусмотрено
            федеральным законом. Хранение Данных после прекращения их обработки допускается только после их
            обезличивания.</p>
        
        <p class="text">10. Порядок получения разъяснений по вопросам обработки Данных </p>
        
        <p class="text">10.1. Лица, чьи Данные обрабатываются Компанией, могут получить разъяснения по вопросам обработки своих
            Данных, обратившись лично в Компанию или направив соответствующий письменный запрос на электронный адрес
            mushroom@houseofwitch.ru;</p>
        <p class="text">10.2. В случае направления официального запроса в Компанию в тексте запроса необходимо указать: &shy;
            фамилию, имя, отчество субъекта Данных или его представителя;</p>
        <p class="text">&shy; номер основного документа, удостоверяющего личность субъекта Данных или его представителя, сведения о
            дате выдачи указанного документа и выдавшем его органе;</p>
        <p class="text">&shy; сведения, подтверждающие наличие у субъекта Данных отношений с Компанией;</p>
        <p class="text">&shy; информацию для обратной связи с целью направления Компанией ответа на запрос;</p>
        <p class="text">&shy; подпись субъекта Данных (или его представителя). Если запрос отправляется в электронном виде, то он
            должен быть оформлен в виде электронного документа и подписан электронной подписью в соответствии с
            законодательством Российской Федерации.</p>
        
        <p class="text">11. Особенности обработки и защиты Данных, собираемых Компанией с использованием сети Интернет </p>
        
        <p class="text">11.1. Компания обрабатывает и защищает Данные, поступающие от пользователей Cайта, а также поступающие на
            адреса корпоративной почты Компании, заканчивающиеся на __@houseofwitch.ru</p>
        <p class="text">11.2. Сбор Данных Существуют два основных способа, с помощью которых Компания получает Данные с помощью сети
            Интернет:</p>
        <p class="text">11.2.1. Предоставление Данных</p>
        <p class="text">Предоставление Данных (включая фамилию, имя, контактный телефон, адрес электронной почты, адрес и др.)
            субъектами Данных путем заполнения соответствующих форм на Сайте и посредством направления электронных
            писем на корпоративные адреса Компании.</p>
        <p class="text">11.2.2. Автоматически собираемая информация</p>
        <p class="text">Компания может собирать и обрабатывать сведения, не являющимися персональными данными:</p>
        <p class="text">&shy; информацию об интересах пользователей на Сайте на основе введенных поисковых запросов пользователей
            Сайта о реализуемых и предлагаемых к продаже товаров Компанией с целью предоставления актуальной
            информации клиентам Компании при использовании Сайта, а также обобщения и анализа информации, о том какие
            разделы Сайта и товары пользуются наибольшим спросом у клиентов Компании;</p>
        <p class="text">&shy; обработка и хранение поисковых запросов пользователей Сайта с целью обобщения и создания клиентской
            статистики об использовании разделов Сайта. Компания автоматически получает некоторые виды информации,
            получаемой в процессе взаимодействия пользователей с Cайтом, переписки по электронной почте и т. п.
            Речь идет о технологиях и сервисах, таких как веб-протоколы, «Cookies» (далее куки), веб-отметки, а также
            приложения и инструменты указанной третьей стороны.</p>
        <p class="text">Куки. Куки – это часть данных, автоматически располагающаяся на жестком диске компьютера при каждом посещении
            веб-сайта. Таким образом, куки – это уникальный идентификатор браузера для веб-сайта. Куки дают
            возможность хранить информацию на сервере и помогают легче ориентироваться в веб-пространстве, а также
            позволяют осуществлять анализ сайта и оценку результатов. Большинство веб-браузеров разрешают использование
            куки, однако можно изменить настройки для отказа от работы с куки или отслеживания пути их рассылки. При
            этом некоторые ресурсы могут работать некорректно, если работа куки в браузере будет запрещена.</p>
        <p class="text">&shy; Веб-отметки. На определенных веб-страницах или электронных письмах Компания может использовать
            распространенную в Интернете технологию «веб-отметки» (также известную как «тэги» или «точная
            GIF-технология»). Веб-отметки помогают анализировать эффективность веб-сайтов, например, с помощью
            измерения числа посетителей сайта или количества «кликов», сделанных на ключевых позициях страницы сайта.
        </p>
        <p class="text">При этом веб-отметки, куки и другие мониторинговые технологии не дают возможность автоматически получать
            Данные. Если пользователь Сайта по своему усмотрению предоставляет свои Данные, например, при заполнении
            формы обратной связи или при отправке электронного письма, то только тогда запускаются процессы
            автоматического сбора подробной информации для удобства пользования веб- сайтами и/или для
            совершенствования взаимодействия с пользователями.</p>
        <p class="text">11.3. Использование Данных</p>
        <p class="text">Компания вправе пользоваться предоставленными Данными в соответствии с заявленными целями их сбора при
            наличии согласия субъекта Данных, если такое согласие требуется в соответствии с требованиями
            законодательства Российской Федерации в области Данных.</p>
        <p class="text">Полученные Данные в обобщенном и обезличенном виде могут использоваться для лучшего понимания потребностей
            покупателей товаров и услуг, реализуемых Компанией и улучшения качества обслуживания.</p>
        <p class="text">11.4. Передача Данных</p>
        <p class="text">Компания может поручать обработку Данных третьим лицам исключительно с согласия субъекта Данных.</p>
        <p class="text">Также Данные могут передаваться третьим лицам в следующих случаях:</p>
        <p class="text">а B качестве ответа на правомерные запросы уполномоченных государственных органов, в соответствии с
            законами, решениями суда и пр.</p>
        <p class="text">б Данные не могут передаваться третьим лицам для маркетинговых, коммерческих и иных аналогичных целей, за
            исключением случаев получения предварительного согласия субъекта Данных.</p>
        <p class="text">11.5. Сайт содержит ссылки на иные веб-ресурсы, где может находиться полезная и интересная для
            пользователей Сайта информация, в том числе ссылки на такие ресурсы как: <a
                href="https://vk.com/houseofwoodwitch" target="_blank">https://vk.com/houseofwoodwitch</a>. При этом действие настоящей Политики не
            распространяется на такие иные сайты. Пользователям, переходящим по ссылкам на другие сайты, рекомендуется
            ознакомиться с политиками об обработке Данных, размещенными на таких сайтах.</p>
        <p class="text">11.6. Пользователь Сайта может в любое время отозвать свое согласие на обработку Данных, направив
            электронное сообщение по адресу электронной почты: mushroom@houseofwitch.ru. После получения такого сообщения
            обработка Данных пользователя будет прекращена, а его Данные будут удалены, за исключением случаев, когда
            обработка может быть продолжена в соответствии с законодательством.</p>
        
        <p class="text">Заключительные положения</p>
        
        <p class="text">Настоящая Политика является локальным нормативным актом Компании. Настоящая Политика является общедоступной.
            Общедоступность настоящей Политики обеспечивается публикацией на Сайте Компании.</p>
        <p class="text">Настоящая Политика может быть пересмотрена в любом из следующих случаев: &shy; при изменении законодательства
            Российской Федерации в области обработки и защиты персональных данных;</p>
        <p class="text">&shy; в случаях получения предписаний от компетентных государственных органов на устранение несоответствий,
            затрагивающих область действия Политики;</p>
        <p class="text">&shy; по решению руководства Компании;</p>
        <p class="text">&shy; при изменении целей и сроков обработки Данных;</p>
        <p class="text">&shy; при изменении организационной структуры, структуры информационных и/или телекоммуникационных систем
            (или введении новых);</p>
        <p class="text">&shy; при применении новых технологий обработки и защиты Данных (в т. ч. передачи, хранения);</p>
        <p class="text">&shy; при появлении необходимости в изменении процесса обработки Данных, связанной с деятельностью Компании.
        </p>
        <p class="text">В случае неисполнения положений настоящей Политики Компания и ее работники несут ответственность в
            соответствии с действующим законодательством Российской Федерации. Контроль исполнения требований
            настоящей Политики осуществляется лицами, ответственными за организацию обработки Данных Компании, а также
            за безопасность персональных данных.</p>
        
        <p class="text"><span style="font-weight: 500;">Юридические данные приведены ниже:</span></p>
        
        <p class="text"> самозанятая Тырина Мария Святославовна, ИНН 344690958207</p>
        
        <p class="text"><span style="font-weight: 500;">Контактные данные:</span></p>
        
        <p class="text">Телефон - 89514676845, e-mail - mushroom@houseofwitch.ru</p>
        
        <p class="text"><span style="font-weight: 500;">Время работы:</span></p>
        
        <p class="text">10-18 с понедельника по пятницу, мы отдыхаем по официальным праздничным дням России.</p>
        
        <p class="text"><span style="font-weight: 500;">Правила оплаты и доставки указаны на странице:</span> <a
                href="{% url 'delivery' %}" class="link link--light">Информации о доставке и оплате</a>.
    </div>
</div>

{% endblock %}