.button {
  width: 200px;
  padding: 10px 0;
  font-family:$mainFont;
  font-weight: bold;
  color: $mainFontColor;
  background-color: $purple-color;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
}