.category__wrapper {
    width: 900px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    background-color: $purple-color;
}

.category__list {
   display: flex;
   flex-wrap: wrap;
    background-color: $default-color;
}

.category__item {
    margin-left: 10px;
    color: #000000;
    padding: 10px;

    &--selected {
        color: rgb(3, 101, 3);
    }
}

.category__link {
    color: #000000;

    &:hover {
        text-decoration: underline;
    }

    &:active {
        color: $deep-main-color;
    }
}

 .category-menu__toggle {
     position: relative;
     z-index: 1000;
     flex-shrink: 0;
     display: block;
     width: 50px;
     height: 50px;
     border: none;

     background-color: transparent;
     border: none;
    


     &::before {
        content: "";
  
        position: absolute;
        top: 15px;
        left: 8px;
  
        width: 36px;
        height: 5px;
        border-radius: 10px;
  
        background-color: #fed330;
        box-shadow: 0 10px 00 #fed330, 0 20px 0 0 #fed330;
      }
  }

.category__wrapper--closed {
    display: none;
  }

  .category__wrapper--show {
      display: block;
  }

.no-js-wrapper {
    display: block;
}

@media(min-width: $lgwidth) {
    .category__wrapper {
        width: 1246px;

    }
}


@media(max-width: $desktopWidth) {
    .category__wrapper {
        width: 700px;

    }
}

@media(max-width: $smMobileWidth) {
    .category__wrapper {
        width: auto;

    }
}