label {
  display: block;
  font-size: 32px;
  color: $mainFontColor;
  margin-bottom: 10px;
}
input {
  width: 365px;
  padding: 20px 26px;
  margin-bottom: 30px;
  background-color: $input-color;
  border-radius: 4px;
  border-color: $input-color;
}
textarea {
  padding: 30px 27px;
  border-radius: 14px;
}