.footer {
  margin: 0 auto;
}

.footer__wrapper {
  position: relative;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 71px;
  padding-bottom: 30px;
  margin-top: -20px;
  background-image: url('../img/graveBottom.png');
  background-repeat: no-repeat;
}

.social {
  display: flex;
}

.social__item {
  width: 79px;
  height: 81px;
  background-repeat: no-repeat;

  &--vk{
    background-image: url("../img/icon-vk.png");
  }

  &--inst{
    margin-left: 33px;
    background-image: url("../img/icon-inst.png");
  }
}

@media(min-width: $lgwidth) {
  .footer {
    width: 1509px;
  }
}

@media(max-width: $lgwidth) {
  .footer {
    width: $desktopWidth;
    
  }
  .footer__wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }

  .social__item {
    width: 69px;
    height: 71px;
    background-size: contain;

    &--inst{
      margin-left: 23px;
    }
  }
}

@media(max-width: $desktopWidth) {
  .footer {
    width: 900px;
    
  }

  .footer__wrapper {
    margin-top: -6px;
    background-image: url("../img/graveBottom@900.png");
    background-position-x: center;
    background-size: 808px auto;
  }

  .social__item {
    width: 59px;
    height: 60px;
  }
}