.footer {
  margin: 0 auto;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 71px;
  padding-bottom: 30px;
  margin-top: -20px;
  background-image: url('../img/graveBottom.png');
  background-repeat: no-repeat;
}

.social {
  display: flex;
}

.social__item {
  width: 79px;
  height: 81px;

  &--vk{
    background-image: url("../img/icon-vk.png");
  }

  &--inst{
    margin-left: 33px;
    background-image: url("../img/icon-inst.png");
  }
}

@media(min-width: $lgwidth) {
  .footer {
    width: 1509px;
  }
}

@media(max-width: $lgwidth) {
  .footer {
    width: 1200px;
    
  }
  .footer__wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }

  .social__item {
    width: 69px;
    height: 71px;
    background-size: contain;

    &--inst{
      margin-left: 23px;
    }
  }
}