.header {
  position: relative;
  background-image: url("../img/bg-header2.png");
  background-repeat: no-repeat;
}

.header__top {
  display: flex;
  justify-content: space-between;
  padding: 36px 86px 0 23px;
}

.header__logo {
  padding-top: 56px;
}

.cart {
  margin-left: auto;
}

.header__bottom {
  padding-bottom: 129px;
}

.header__title {
  padding-top: 278px;
}


@media(min-width: $lgwidth) {
  .header {
    width: $lgwidth;
    margin: 0 auto;
  }
}

@media(max-width: $lgwidth) {
  .header {
    width: $desktopWidth;
    margin: 0 auto;
    background-image: url("../img/bg-header2@1200.png");
  }

  .header__top {
    padding-top: 15px;
    padding-left: 5px;
  }

  .header__logo {
    padding-top: 47px;
  }

  .logo {
    img {
      width: 105px;
      height: 102px;
    }
  }

  .header__bottom {
    padding-bottom: 77px;
  }

  .header__title {
    padding-top: 220px;
  }
}

@media(max-width: $desktopWidth) {
  .header {
    width: 900px;
    background-size: contain;
    background-position-x: center;
  }

  .header__top {
    padding-left: 9px;
    padding-right: 25px;
  }

  .header__logo {
    padding-top: 26px;
  }

  .header__bottom {
    padding-bottom: 61px;
  }

  .header__title {
    padding-top: 115px;
  }

  .cart__link {
    img {
      width: 58px;
      height: 51px;
    }
  }

  .section-header {
    font-size: $titleSizeTablet;
  }
}

@media(max-width: $smDesktopWidth) {
  .header {
    width: 100%;
  }

  .header__logo {
    padding-top: 13px;
  }

  .header__cart {
    margin-right: 20px;
  }

  .header__title {
    padding-top: 100px;
  }
}

@media(max-width: $smMobileWidth) {

  .header {
    // background-image: url("../img/bg-header@another.png");
    // background-size: 29em auto;
    background-size: cover;

  }

  .header__logo {
    padding-top: 0;
  }

  .logo {
    img {
      width: 80px;
      height: 78px;
    }
  }
  .header__cart {
    display: none;
  }

  .header__user-menu {
    display: none;
  }

  .header__bottom {
    padding-bottom: 93px;
  }

  .header__title {
    position: relative;
    // margin-top: -20px;
    padding-top: 189px;
  }
}