.login__wrapper {
  width: 984px;
  margin: 0 auto;
  margin-top: 100px;
  padding-bottom: 110px;
  background-image: url("../img/bg-login.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.login__form {
  width: 400px;
  margin: 0 auto;
  padding-top: 105px;
}

.login__label {
  display: block;
  font-size: 32px;
}

.login__input {
  width: 100%;
  padding: 20px 26px;
  margin-bottom: 30px;
  background-color: $input-color;
  border-radius: 4px;
  border-color: $input-color;
}