.login__wrapper {
  width: 705px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 50px;
  background-image: url("../img/bg-login.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.login__form {
  width: 400px;
  margin: 0 auto;
  padding-top: 70px;
}