.login {
  width: 700px;
  margin: 0 auto;
  background-color: #a651d8;
  border: 1px solid #9228cf;
}

.login__wrapper {
  margin: 56px;
  background-color: #e8f186;
  // background-image: url("../img/bg-login.png");
  // background-size: cover;
  // background-repeat: no-repeat;
}

.login__form {
  width: 450px;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 30px;
}

.login__input-wrapper {
  margin-bottom: 30px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.login__label {
  display: block;
  font-size: 26px;
}

.login__input {
  width: 100%;
  padding: 15px 16px;
  background-color: $input-color;
  border-radius: 4px;
  border-color: $input-color;
}

.login__info {
  // display: flex;
  // justify-content: space-between;
  margin-bottom: 20px;
  // padding-top: 20px;
}

.login__button {
  font-family: $mainFont;
  font-size: 26px;
  background-color: transparent;
  border: none;

  &--small {
    display: block;
    width: 142px;
    margin: 0 auto;
  }
}

.login__restore {
  display: block;
  padding-top: 15px;
  font-size: 18px;
  color: $mainFontColor;
  text-decoration: underline;
}