// тк мы к ним обращаемся везде ниже


html {
  line-height: $mainLineHeight;
	font-size: $mainFontSize;
	color: $default-color;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
		font-size: 16px;
  }
  @media screen and (max-width: $phoneWidth) {
		font-size: 14px;
  }
}

body {
  font-family: $mainFont;
	font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

*, *:before, *:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 { margin: 0; }

a {
	text-decoration: none;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #29147B;
}

.wrapper-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &.wrapper-content--fixed {
    margin-top: 80px;
  }
}

.wrapper__container {
  padding-top: 60px;
  padding-bottom: 100px;
}

.substrate {
  background-color: $substrate-color;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  border-radius: 14px;

&::before {
  content: "";
  position: absolute;
  z-index: 10;
  top: 0;
  left: -88px;
  bottom: 0;
  width: 92px;
  background-image: url("../img/grave-left-nonbg.png");
  background-repeat: repeat-y;
  background-size: cover;
}

&::after {
  content: "";
  position: absolute;
  z-index: 10;
  top: 0;
  left: auto;
  right: -76px;
  bottom: 0;
  width: 92px;
  background-image: url("../img/grave-right-nonbg.png");
  background-repeat: repeat-y;
  background-size: cover;
  }
}

.substrate__container {
  margin-top: -4px;
}

.wrapper-text {
  padding: 0 20px;
  padding-top: 30px;
}

.section-header {
  font-size: $titleSizeLG;
  color: $default-color;
  text-align: center;
}

.text {
  margin-bottom: 20px;
  // padding: 0 20px;
  font-size: 21px;
  font-family: 'Consolas', Arial, Helvetica, sans-serif;
  color: $light-text-color;
}

.about-pumpkin {
  display: flex;

  img {
    margin-left: auto;
  }
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10000;
  width: 400px;
  margin-left: -300px;
  padding: 30px 20px;
  background-color: beige;
  color: #000000;
}

.show-modal {
  display: block;
}

@media(min-width: $lgwidth) {
  .substrate {
    width: $lgwidth;
    width: 1420px;

    &::before {
      left: -104px;
      width: 107px;
    }
  }
}

@media(max-width: $lgwidth) {

  .substrate {
    width: $desktopWidth;
    width: 1070px;
  }

  .section-header {
    font-size: $titleSize;
  }
}

@media(max-width: $desktopWidth) {
  .substrate {
    width: 900px;
    width: 775px;

  &::before {
    left: -41px;
    width: 48px;
    background-size: contain;
  }

  &::after {
    right: -41px;
    width: 48px;
    background-size: contain;
  }
    
  }

  .wrapper__container {
    padding-bottom: 50px;
  }
}

@media(max-width: $smDesktopWidth) {
  .wrapper {
    // background-color: hotpink;
  }

  .wrapper__container {
    padding-top: 50px;
  }

  .substrate {
    width: 100%;
    border-radius: 0;

  &::before, &::after {
    content: none;
  }
  }

  .substrate__container {
    
    width: 100%;
  }

  .section-header {
    font-size: $titleSizeMobile;
  }
}

@media(max-width: $smMobileWidth) {
  .substrate__container {
    padding-top: 40px;
  }
}

@media(max-width: $desktopWidth) {
  .substrate {
    // background-color: hotpink !important;
  }
}