// тк мы к ним обращаемся везде ниже


html {
  line-height: $mainLineHeight;
	font-size: $mainFontSize;
	color: $default-color;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
		font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
		font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
		font-size: 14px;
  }
}

body {
  font-family: $mainFont;
	font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

*, *:before, *:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 { margin: 0; }

input, textarea, select, button { border: 1px solid $border-base; }

a {
	text-decoration: none;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #29147B;
}

.wrapper-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &.wrapper-content--fixed {
    margin-top: 80px;
  }
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  max-width: $desktopWidth;
  margin: 0 auto;
  @media screen and (max-width: $smDesktopWidth) {
    max-width: $tableWidth;
  }
  @media screen and (max-width: $tableWidth) {
    max-width: $phoneWidth;
  }
  @media screen and (max-width: $phoneWidth) {
    max-width: $smPhoneWidth;
  }
}

.substrate {
  margin: 0 auto;
  padding-bottom: 592px;
  // background-color: $substrate-color;
  background-image: url('../img/substate.png');
  background-repeat: no-repeat;
}

@media(min-width: 1586px) {
  .substrate {
    width: 1586px;
  }
}

.section-header {
  font-size: 42px;
  color: $default-color;
  text-align: center;
}
