// тк мы к ним обращаемся везде ниже


html {
  line-height: $mainLineHeight;
	font-size: $mainFontSize;
	color: $default-color;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
		font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
		font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
		font-size: 14px;
  }
}

body {
  font-family: $mainFont;
	font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

*, *:before, *:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 { margin: 0; }

a {
	text-decoration: none;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #29147B;
}

.wrapper-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &.wrapper-content--fixed {
    margin-top: 80px;
  }
}

.wrapper__container {
  padding-top: 60px;
  padding-bottom: 100px;
}

.substrate {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  background-image: url('../img/substate.png');
  background-repeat: no-repeat;
}

.substrate__container {
  margin-top: -4px;
}

.section-header {
  font-size: $titleSizeLG;
  color: $default-color;
  text-align: center;
}

@media(min-width: $lgwidth) {
  .substrate {
    width: $lgwidth;
  }
}

@media(max-width: $lgwidth) {

  .substrate {
    width: $desktopWidth;
    background-size: cover;
  }

  .section-header {
    font-size: $titleSize;
  }
}

@media(max-width: $desktopWidth) {
  .substrate {
    width: 900px;
    margin: 0 auto;
    background-image: none;
    background-color: $substrate-color;
    
  }

  .wrapper__container {
    padding-bottom: 50px;
  }

  .substrate__container {
   position: relative;
   z-index: 50;
    width: 900px;
    margin-top: -4px;
    background: url('../img/grave-left.png') top left/contain repeat-y,
    url('../img/grave-right.png') top right/contain repeat-y;
    background-color: $substrate-color;
  }
}

@media(min-width: 900px) and (max-width: $desktopWidth) {
  .substrate {
     &::before {
      content: "";
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      bottom: 0;
      width: 151px;
      background-color: #29147B;
    }

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;
      width: 151px;
      background-color: #29147B;
    }
  }
}

@media(max-width: $smDesktopWidth) {
  .wrapper {
    // background-color: hotpink;
  }

  .wrapper__container {
    padding-top: 50px;
  }

  .substrate {
    z-index: 300;
    width: 100%;
    background-image: url("../img/graveBottom@900.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
  }

  .substrate__container {
    
    width: 100%;
    padding-top: 50px;
    background-image: none;
    background-color: transparent;
  }

  .section-header {
    font-size: $titleSizeMobile;
  }
}