.nav-container {
  .cart {
    display: none;
  }

  .user-menu {
    display: none;
  }
}

.nav__list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.nav__item {
  a {
    font-size: $titleSizeLG;
    line-height: 1.5;
    color: $default-color;
  }
}

.nav__toggle {
  display: none;
}

@media(min-width: $lgwidth) {
  .nav {
    width: 1290px;
    margin: 0 auto;
  }
}

@media(max-width: $lgwidth) {
  .nav__list {
    z-index: 9999;
    padding: 0 60px;
  }

  .nav__item {
    a {
      font-size: $titleSize;
    }
  }
}

@media(max-width: $desktopWidth) {
  .nav__list {
    width: 775px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .nav__item {
    a {
      font-size: 24px;
    }
  }
}

@media(max-width: $smDesktopWidth) {
  .nav {
    width: 767px;
    margin: 0 auto;
    padding: 0 25px;
  }

  .nav-container {
    padding: 20px;
  }

  .nav__list {
    width: 100%;
    padding: 0;
  }

  .nav__item {
    a {
      font-size: $titleSizeMobile;
    }
  }
}

@media(max-width: $smMobileWidth) {
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
    background-color: $default-color;
    border: 2px solid $deep-main-color;

    .cart {
      display: block;
      margin-right: 10px;
    }

    .cart__link {
      img {
        width: 48px;
        height: 42px;
      }
    }

    .user-menu {
      display: block;
    }

    &--fixed {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2000;
      width: 100%;
      box-shadow: rgba(0,0,0,0.1) 0 1px 1px 0, rgba(0,0,0,0.1) 0 3px 3px 0;
      animation: show_fixed_header .6s forwards cubic-bezier(.4,0,.2,1);
    }
  }

  .nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    // min-height: 51px;
    margin: 0;
    padding: 0;

    // &--opened {
    //   width: 100%;
    // }
  }

  .nav__toggle {
    display: block;
    // position: absolute;
    // left: 0;
    // top: 0;
    z-index: 2;
    width: 70px;
    height: 50px;
    background-color: transparent;
    border: none;
    color: #822bea;
  }

  .nav--opened .nav__toggle {
    top: 0;
    // left: auto;
    // right: 0;

    &::before,
    &::after {
      content: "";

      position: absolute;
      top: 24px;
      left: 18px;

      width: 36px;
      height: 2px;

      background-color: #822bea;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:active::before,
    &:active::after {
      background-color: #822bea;
    }
  }

  .nav--opened .nav__item--active a {
    color: fade(#822bea, 50%);
  }

  .nav__list {
    position: absolute;
    top: -20px;
    left: 53px;
    flex-direction: column;
  }

  .nav__item {
    padding: 25px;

    a {
      color: $substrate-color;
    }
  }

  .nav--opened .nav__item {
    padding-right: 0;
    width: 100%;
    padding-bottom: 10px;

    &:not(:nth-child(1)) {
    width: 320px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: $default-color;
    }

  }

  .nav--closed .nav__toggle::before {
    content: "";

    position: absolute;
    top: 18px;
    left: 10px;

    width: 36px;
    height: 2px;

    background-color: #822bea;
    box-shadow: 0 8px 00 #822bea, 0 16px 0 0 #822bea;
  }

  .nav--closed .nav__item {
    display: none;

    &--active {
      display: block;
    }
  }

  .nav--nojs .nav__toggle {
    display: none;
  }

  .nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }

  .nav--nojs .nav__item {
    display: block;
  }
}