.nav__list {
  display: flex;
  justify-content: space-between;
  width: 1156px;
  margin: 0 auto;
}

.nav__item {
  a {
    font-size: $titleSizeLG;
    line-height: 1.5;
    color: $default-color;
  }
}

@media(min-width: $lgwidth) {
  .nav {
    width: $lgwidth;
  }
  // .nav__list {
  //   width: 1156px;
  //   margin: 0 auto;
  // }
}

@media(max-width: $lgwidth) {
  .nav__list {
    padding: 0 90px;
    // width: 1156px;
    // margin: 0 auto;
  }

  .nav__item {
    a {
      font-size: $titleSize;
    }
  }
}

@media(max-width: $desktopWidth) {
  .nav__list {
    width: 856px;
    padding-left: 80px;
    padding-right: 80px;
  }

  .nav__item {
    a {
      font-size: 24px;
    }
  }
}