.product__wrapper {
    display: flex;
    margin-bottom: 50px;
    padding: 0 20px;
}

.product__photo {
    width: 50%;
}

.product__content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 30px;
    padding-top: 50px;
    color: $light-text-color;
    text-align: center;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 103px;
        height: 56px;
        background-image: url("../../../static/shop/img/arrow-product.png");
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.product__title {
    margin-bottom: 20px;
    font-size: 20px;
    color: $default-color;
}

.product__text {
    font-size: 16px;
}

.product__add-link {
    margin: 0 auto;
}

.product__counter-block {
    position: relative;
    width: 205px !important;
    margin: 0 auto;
    margin-top: 30px;

    &::after {
        content: "";
        position: absolute;
        top: -18px;
        right: -68px;
        width: 51px;
        height: 49px;
        background-image: url("../../../static/shop/img/new-cart.png");
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.product__optional-wrapper {
    display: flex;
}

@media(max-width: $desktopWidth) {
    .product__wrapper {
        flex-direction: column;
    }

    .product__photo {
        width: 80%;
        margin: 0 auto;
    }

    .product__content {
        width: 80%;
        margin: 0 auto;
        margin-top: 30px;
        padding-left: 0;
        padding-top: 0;

        &::before {
            content: none;
        }
    }

    .product__optional-wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media(max-width: $smDesktopWidth) {

    .product__photo {
        width: 100%;
    }
    .product__content {
        width: 100%;
    }
}

@media(max-width: $phoneWidth) {
    .product__counter-block {
        width: 133px !important;
    }
}